* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    font-family: "Montserrat", sans-serif;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    width: $colWidth*3;
    flex-wrap: wrap;
}

.col {
    width: $colWidth;
    padding: 10px;
}