main {
    background-image: url('../../img/fondo-pag-speciali.jpg');
    padding: 80px 0px;
    
    img {
        width: $imgWidth;
        padding: 10px;
    }

    h2{
        font-size: 40px;
        padding: 10px;
        margin-top: 10px;
        text-transform: uppercase;
        color: #002d73;
    }
}
